.idea
venv
__pycache__
out
dist
*.iml

labs/curve-fitting-linear-regression/__pycache__
labs/curve-fitting-linear-regression/.ipynb_checkpoints

labs/gaussian-curve-fitting/__pycache__
labs/gaussian-curve-fitting/gaussian_curve_fitting.m

labs/bayesian-curve-fitting/__pycache__
labs/bayesian-curve-fitting/.ipynb_checkpoints

labs/kl-divergence-entropy/__pycache__
labs/kl-divergence-entropy/.ipynb_checkpoints

labs/dirichlet-distribution/__pycache__
labs/dirichlet-distribution/.ipynb_checkpoints

labs/mahalanobis-distance/__pycache__
labs/mahalanobis-distance/.ipynb_checkpoints
