.idea
venv
__pycache__
out
dist
*.iml

curve-fitting-linear-regression/__pycache__
curve-fitting-linear-regression/.ipynb_notebooks

gaussian-curve-fitting/__pycache__
gaussian-curve-fitting/.ipynb_notebooks

bayesian-curve-fitting/__pycache__
bayesian-curve-fitting/.ipynb_notebooks

kl-divergence-entropy/__pycache__
kl-divergence-entropy/.ipynb_notebooks

